<h1 mat-dialog-title>Add User</h1>
<div mat-dialog-content>
  <p>Add a new user here!</p>
  <div class="input-form-dialog">
    <mat-form-field>
        <mat-label>First Name</mat-label>
        <input [(ngModel)]="user.firstName" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input [(ngModel)]="user.lastName" matInput>
      </mat-form-field>
  </div>

  <div>
    <mat-form-field class="full-width">
        <mat-label>Birth Date</mat-label>
        <input [(ngModel)]="birthDate" matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  </div>

  <div class="full-width">
    <mat-form-field class="full-width">
        <mat-label>Street + No</mat-label>
        <input [(ngModel)]="user.street" matInput>
      </mat-form-field>
  </div>
  
  <div class="input-form-dialog">
    <mat-form-field>
        <mat-label>Zip code</mat-label>
        <input [(ngModel)]="user.zipCode" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>City</mat-label>
        <input [(ngModel)]="user.city" matInput>
      </mat-form-field>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="saveUser()" cdkFocusInitial>Save</button>
</div>
