<mat-drawer-container class="mat-drawer-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <p>Auto-resizing sidenav</p>

    </mat-drawer>

    <div class="example-sidenav-content">
        <mat-toolbar>
            <button mat-icon-button (click)="drawer.toggle()" class="menu-icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Simple CRM</span>
            <span class="example-spacer"></span>
        </mat-toolbar>
    </div>

</mat-drawer-container>