<mat-drawer-container class="mat-drawer-container" autosize>
    <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
        <div class="logo-container">
            LOGO
        </div>

        <ul class="menu-items">
            <li routerLink="/" routerLinkActive="router-link-active" ><mat-icon>dashboard</mat-icon> Dashboard</li>
            <li routerLink="/user" routerLinkActive="router-link-active" ><mat-icon>account_circle</mat-icon> User</li>
        </ul>

    </mat-drawer>

    <div class="example-sidenav-content">
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="drawer.toggle()" class="menu-icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Simple CRM</span>
            <span class="example-spacer"></span>
        </mat-toolbar>
        <div class="router-container">
            <router-outlet></router-outlet>

        </div>
    </div>

</mat-drawer-container>