.mat-drawer-container{
    height: 100vh;
}

.menu-icon{
    cursor: pointer;
}
.sidenav{
    width: 300px;
    padding: 0 16px; 


}
.logo-container{
    border-bottom: 1px solid #ccc;
    min-height: 56px;
    padding: 0px 16px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoImg{
    height: 48px;
    max-width: 100%;
}
.menu-items{
    list-style-type: none;
    padding: 0;
    margin: 0;

    li{
        padding: 0 16px;
        display: flex;
        align-items: center;
        height: 48px;
        cursor: pointer;

        mat-icon{
            margin-right: 16px;
        }

        &:hover{
            background-color: #cccccc58;
        }

        &:focus{
            outline: none;
        }

    }
}

mat-toolbar, mat-toolbar-row{
    min-height: 56px;
    height: 56px;
}

.router-container{
    padding: 16px 48px;
}