<button (click)="openDialog()" class="add-user-button" matTooltip="Add a new User" mat-fab color="primary">
  <mat-icon>add</mat-icon>
</button>

<div class="user-list">
 

  <mat-card>
    <mat-card-content>
      <div class="user-table">
        <div class="user-info">
          <span>Name</span>
          <p>Klaus Dorfer</p>
        </div>
        <div class="user-info">
          <span>E-mail</span>
          <p>KauseMail@gogele</p>
        </div>

        <div class="user-info">
          <span>City</span>
          <p>Darmstadt</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>