<button (click)="openDialog()" class="add-user-button" matTooltip="Add a new User" mat-fab color="primary">
  <mat-icon>add</mat-icon>
</button>

<div class="user-list">
 

  <mat-card *ngFor="let user of users" [routerLink]="['/user/' + user.id]">
    <mat-card-content >
      <div class="user-table">
        <div class="user-info">
          <span> <b>Name:</b></span>
          <p>{{user.firstName}}  {{user.lastName}}</p>
        </div>
        <div class="user-info">
          <span> <b>E-mail:</b></span>
          <p>{{user.email}}</p>
        </div>

        <div class="user-info">
          <span> <b>City:</b> </span>
          <p>{{user.city}}</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>